<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
 hello python {{msg}}
 <br><br>
 django 순서
 <br>
 1. django 프로젝트를 생성한다<br>
 	- 프로젝트와 이름이 같은 패키지 파일이 생성되며 프로젝트의 전반적인 설정을 할 수 있는 파일들이 생성<br>
 2. django 프로젝트에서 어플리케이션 패키지를 형성한다<br>
    - views 파일에 출력 내용을 작성한다. request 객체를 위임하는 것도 가능 render() 메서드 호출<br>
    - view 단을 다른 파일에 만들 때 templates 폴더를 생성하여 그 안에 파일을 만든다<br>
 3. view를 만든 다음에는 urls.py를 작성하여 view에서 만든 메소드를 호출할 url 패턴을 설정한다.<br>
 <br>
 4. 생성한 어플리케이션을 settings.py installedapp에 추가해준다<br>
 <br>
 5. 프로젝트 패키지의 urls.py<br>
 <br>
 
 
 
 
 
</body>
</html>